body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #941414;
}

h1 {
    background-color: #044441;
    color: rgb(0, 1, 7);
    padding: 15px;
    margin: 0;
}

#calendar {
    max-width: 800px;
    margin: 20px auto;
    background: rgb(121, 123, 193);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: rgb(227, 92, 9);
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.register-btn {
    background: #ef1dd6;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}